/* Reset sederhana */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #0f172a;
  background-image:
        linear-gradient(to right, rgba(148,163,184,0.2) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(148,163,184,0.2) 1px, transparent 1px)
      ;
  background-size: 40px 40px;
}

/* Warna latar untuk memvisualisasikan blok */
header,
.header {
  background: transparent;
  color: #fff;
  padding: 15px;
  text-align: center;
  text-size-adjust: 20px;
}

nav,
.nav {
  margin-top: 10px;
  background: transparent;
  padding: 10px;
}

nav a,
.nav a {
  color: rgb(255, 0, 0);
  font-family: Arial, sans-serif;
  text-decoration: none; /* hapus garis bawah */
  border-radius: 22px; /* ubah sudut jadi bulat */
  background: rgb(26, 226, 199);
  padding: 6px 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 14px;
  padding-right: 14px;
  margin-right: 8px; /* jarak luar antar link */
}

nav a:hover,
.nav a:hover {
  background: #22c55e;
  color: white;
  transition-duration: 0.4s;
}

/* Footer */
footer,
.footer {
  background: #333;
  color: #fff;
  padding: 15px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding-left: 12px;
  text-align: center;
}

.box{
  background: radial-gradient(125% 125% at 50% 10%, #000000 40%, #2b0707 100%);
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding-left: 12px;
  text-align: left;
}

@keyframes rainbow {
  0% { border-color: red; }
  25% { border-color: orange; }
  50% { border-color: yellow; }
  75% { border-color: green; }
  100% { border-color: blue; }
}

.avatar {
  width: 220px;          /* atau 250px sesuai kebutuhan */
  height: 220px;         /* samakan dengan width untuk bulat sempurna */
  object-fit: cover;     /* isi area tanpa distorsi */
  border-radius: 50%;
  border: 3px solid #e5e7eb;
  animation: rainbow 3s infinite;
}

.photo {
  border: 3px solid #e5e7eb;
  border-radius: 12px;
  animation: rainbow 3s infinite;
}

.section-title {
  padding-left: 10px;      /* ruang agar teks tidak mepet garis */
  border-left: 6px solid #22c55e; /* garis aksen di kiri */
}

.box:hover {
  background: radial-gradient(125% 125% at 50% 10%, #000000 40%, #2b0707 100%);
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding-left: 12px;
  text-align: left;
  transition-duration: 0.4s;
  cursor: pointer;
  animation: rainbow 3s infinite;
}

.alter_color {
    color: gray;
    font: 20px arial ,sans-serif;
}    

h1, h3, h4 {
    color: lightskyblue;
    font: 20px arial ,sans-serif;
}

h1, h2 {
  text-align: center;
}

.container {
  width: 750px;
  margin:  auto;
  margin-top: 50px;
}

img[alt="Logo"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p, li,tr,label {
    color: white;
    font: 20px arial ,sans-serif;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  text-align: center;
}

.gallery h2 {
  color: sandybrown;
  font-size: 35px;
}

.gallery p {
  color: whitesmoke;
  font-size: 18px;
}

.gallery .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gallery .card {
  display: inline-block;
  /* dotted */
  /* dashed */
  width: 200px;
  border: 1px solid #ccc;
  margin: 10px;
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

.gallery .card figcaption {
  margin: 4px;
  font-weight: bold;
  color: #333;
  padding: 4px;
  font-size: 14px;
  background-color: #ffffff00;
}

.gallery .card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition-duration: 0.4s;
  cursor: pointer;
  animation: rainbow 3s infinite;
  border-radius: 12px;
}

table {
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    width: 95%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; 
    border-color: solid gray;
}

th {
    background-color: rgb(132, 0, 255);
    padding: 15px;
}

td {
    background-color:transparent;
    padding: 15px;
}

tfoot {
    background-color: rgb(255, 102, 0);
    padding: 15px;
}

button {
  font-size: medium;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
  text-align: center;
  width: fit-content;
  justify-content: flex-end;
  padding: 20px;
}

input {
  width: fit-content;
}

button [alt="submit"] {
  background-color: aqua;
}

button [alt="reset"] {
  background-color: #333;
}

iframe {
width: 99%;
}

/*tambahan*/

/* Mobile */

@media (max-width: 599px) {
  /* penyesuaian mobile */
  .container {
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    width: 90%;
  }

  nav  {
    flex-direction: column; /* Mengubah arah tumpukan item menjadi vertikal */
    align-items: stretch; /* Memaksa item mengisi seluruh lebar container */
    width: 80%; /* Memastikan setiap list item mengambil lebar penuh */
    margin-bottom: 8px; /* Menambahkan jarak bawah antar item */
    margin-left: 40px;
    gap: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  
  .div-table {
    overflow-x: auto;
    box-sizing: inherit;
    display: flex;
    line-height: 1.5;
    font-size: 15px;
  }

  .box {
    padding: 20px;
    margin: 30px;
    text-align: left;
    font-size: 24px;
    text-wrap: auto;
    flex-wrap: wrap;
    width: 70%;
    flex-direction: row;
    flex: content;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    text-align: center;
  }

  iframe {
    width: 90%;
    padding-left: 20px;
    
  }
   
  .gallery .card {
    width: 100px;
    margin-top: 8px;
    vertical-align: middle;
  }

  .gallery .card img {
    height: 100px;
  }

  .gallery .card figcaption {
    font-size: 13px;
  }

  .input_option input {
    width: 20px;
  }

  .input_option label {
    position: relative;
    left: 0px;
    top: 5px;
  }
  
  input {
    font-size: 24px;
  }

  textarea {
    width: 95%;
    font-size: medium;
  }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1023px) {
  /* penyesuaian tablet */
  .container {
    margin-top: 30px;
    padding: 15px;
    flex: 0 0 auto;
    width: 75%;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    width: 90%;
    margin-left: 20px;
    flex-direction: column; /* Mengubah arah tumpukan item menjadi vertikal */
    margin-bottom: 8px; /* Menambahkan jarak bawah antar item */
    padding: 15px;
    gap: 13px;
  }

  .div-table {
    overflow-x: auto;
    box-sizing: inherit;
    display: block;
    line-height: 1.5;
    font-size: 18px;
  }

  .container box {
    padding: 20px;
    margin: 10px;
    text-align: left;
    font-size: 22px;
  }

  iframe {
    width: 80%;
    padding-left: 40px;
  }

  .gallery{
    flex: row;
  }

  .input_option input {
    width: 20px;
  }

  .input_option label {
    position: relative;
    left: 0px;
    top: 5px;
  }

  .box {
    min-width: 85%;     /* contoh: bisa diganti jadi 100% atau max-width */
    width: 100%;
    margin: auto;
  }

  

  
}
  

  
